    <title>Home | Greetings</title>
</head>
<style>
    .mylist {
        vertical-align: middle;
        display: inline-block;
    }
</style>
<body>
    <div class="ui middle aligned center aligned container">
        <hr>
        <div class="ui piled segment">
            <div class="ui message">
            <h2 class="ui header">
                <i class="handshake outline icon"></i>
                <div class="content">
                    Greetings Web App
                    {{#if messages.error}}
                        <div class="sub red header">{{messages.error}}</div>
                    {{/if}}
                </div>
            </h2>
            {{!-- <div class="content" align="right">
                <button class="ui basic button">
                    <i class="icon user"></i>
                    <a href="/login">Admin</a>
                </button>
            </div> --}}
            </div>

            <form action="/" method="POST">
                <div class="required field">
                    <div class="ui large left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Name" id="user_input" value="" required>
                    </div>
                </div>
                <hr>
                <hr>
                <hr>
                    <select class="ui dropdown" id="dropdown"name="language">
                        {{#each languages}}
                        <option value="{{language}}" name="language">{{language}}</option>
                        {{/each}}
                    </select>
                <hr>
                <button class="primary ui large button" type="submit">Greet</button>
            </form>
            
            <br>
            <hr>

            <div class="ui message">
                <div class="header">
                {{#if messages.default}}
                        <div class="sub teal header">{{messages.default}}</div>
                {{/if}}

                {{#if user}}
                <p>{{obj.greetMessage}} {{user.name}}.</p>
                </div>
                <p>You have been greeted: <b>{{user.greetCounter}}</b> time(s), </p>
                <p>with <b>{{user.languages.length}}</b> different language(s).</p>
                <hr>
                <p>First greeted on: <b>{{user.timestamp.firstGreeted}}</b>.</p>
                <p>Last greeted on: <b>{{user.timestamp.lastGreeted}}</b>.</p>
                {{/if}}
            </div>
            <div class="ui accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Names greeted so far: <b>{{counter}}</b>
                </div>
                <div class="content">
                    <div class="mylist" align="left">
                        {{#each namesGreeted}}
                            <div>
                                <i class="user icon"></i>
                                <a href="/details/{{this.id}}" class="list-group-item">{{this.name}}</a>
                            </div>
                            {{else}}
                                <div class="well">
                                    <p class="text-danger">Sorry, no names have been greeted. </p>
                                </div>
                        {{/each}}
                    </div>
                </div>

                <div class="title">
                    {{#if user}}
                    <i class="dropdown icon"></i>
                    {{user.name}}'s greeted languages ({{user.languages.length}})
                    {{/if}}
                </div>
                <div class="content">
                    <div class="mylist"  align="left">
                        {{#each user.languages}}
                            <div>
                                <i class="{{this.flag}} flag"></i>
                                <a href="#" class="list-group-item">{{this.type}}</a>
                            </div>
                            {{else}}
                                <div class="well">
                                    <p class="text-danger">Sorry, no languages have been seleted. </p>
                                </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $("#user_input").keyup(function(e) {
            var regex = /^[a-zA-Z]+$/;
            (regex.test(this.value) !== true) ? this.value = this.value.replace(/[^a-zA-Z]+/, '') : this.value
        });
        $('.ui.accordion').accordion();
    </script>
</body>